@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: #47a7ff; */
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(../src/FireEmblemData/CharacterImages/FireEmblemBackground.png) no-repeat center fixed;
  background-size: cover;
}
div{
  background-color: rgb(55, 55, 55);
  border-radius: 12px;
  margin: 5px;
}
form{
  background-color: rgb(55, 55, 55);
  border-radius: 12px;
  width: 525px;
}
html {
  display: flex;
  justify-content: center;
  align-content: center;
  object-fit: cover;
}

* {
  border: #ecedf3 1px solid;
}

table *{
  border: white 1px solid;
}

td:first-child{
  width: 145px;
}
#info{
  border: none;
}
#edit{
  border: none;
}
input{
  color: black;
  border: black 1px solid;
}
select{
  color: black;
  border: black 1px solid;
}
#class{
  width: 135px;
}
#info-card{
  width: 500px;
}